* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .pg-card {
    display: flex;
    width: 100%;
    margin-top: 30px;
    gap: 30px;
    border-radius: 10px;
    overflow: hidden;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
    padding: 10px;
    cursor: pointer;
  }
  
  .pg-card-img-div {
    width: 100%;
    /* border: solid; */
  }
  
  .pg-card-img {
    width: 500px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }
  
  .pg-card-div2 {
    width: 100%;
    padding: 20px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
  }
  
  .pg-card-gender {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(235, 216, 213);
    border: 1px solid white;
    border-radius: 50px;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 4px 4px 0px inset;
    width: 90px;
    font-weight: bold;
    height: 30px;
  }
  
  .pg-card-location {
    color: rgb(0, 0, 0);
    font-size: 19px;
    letter-spacing: 0.25px;
    line-height: 23px;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .pg-card-location:hover {
    color: rgb(96, 195, 173);
    cursor: pointer;
  }
  
  .first {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .price-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    width: 110px;
  }
  
  .price {
    font-size: 20px;
    margin: 0;
  }
  
  .buttons-container {
    display: flex;
    gap: 16px;
  }
  
  .primary-btn, .secondary-btn {
    border: none;
    border-radius: 10px;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    outline: none;
    appearance: none;
    width: 160px;
    height: 50px;
    cursor: pointer;
  }
  
  .primary-btn {
    color: rgb(255, 255, 255);
    background: rgb(96, 195, 173);
  }
  
  .secondary-btn {
    border: 1px solid rgb(96, 195, 173);
    color: rgb(96, 195, 173);
    background: rgb(255, 255, 255);
  }
  
  .btn-room {
    border: 1px solid;
    border-radius: 15px;
    background-color: rgb(96 195 173 / 8%);
    color: rgb(96, 195, 173);
    text-align: center;
    width: 20%;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 70px;
  }
  
  .btn-description {
    border: 1px solid;
    border-radius: 15px;
    background-color: rgb(96 195 173 / 8%);
    color: gray;
    text-align: center;
    width: 28%;
  }
  
  @media screen and (max-width: 400px) {
    .pg-card {
      flex-direction: column;
      width: 92%;
    }
    .pgs-content{
        /* border: solid; */
        display: flex;
        justify-content: center;
    }
  
    .ant-image {
        width: 359px;
    }
    .pg-card-img {
        border-radius: 10px;
    }
    .pg-card-img-div {
        width: 100%;
        display: flex;
        justify-content: center;
    }
  
    .pg-card-div2 {
      padding: 10px;
    }
    .button-container, .btn-description, .btn-room {
      width: 100%;
      margin-top: 10px;
    }
    .button-container .btn-description{
        width: 46%;
        font-size: 12px;
        font-weight: bold;
    }
    .button-container .btn-room{
        width: 42%;
        font-size: 12px;
        font-weight: bold;
    }
    .Pg-Cart-btn .price-container{
        margin-top: 10px;
        font-size: 10px;
    }
    .Pg-Cart-btn .price{
        font-size: 20px;
    }
    .pgs-h1{
        font-size: 23px;
    }
    .buttons-container .primary-btn{
        width: 100%;
        font-size: 12px;
        font-weight: bold;
    }
    .buttons-container .secondary-btn{
        width: 100%;
        font-size: 12px;
        font-weight: bold;
    }
  }
  