* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.filter-panel {
    /* border: solid; */
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}
.filter-panel-inner-div{
    display: flex;
    justify-content: space-evenly;
    /* border: solid; */
    width: 65%;
    gap: 30px;
}

.price {
    /* border: solid; */
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.price .pricelabel {
    height: 50px;
    padding: 14px 20px;
    border-radius: 4.5em;
    border: 1px solid rgb(232, 232, 232);
    line-height: 21px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}
.filter-panel-inner-div{
    display: flex;
}

@media screen and (max-width: 400px) {
    .filter-panel {
        display: flex;
        padding: 10px;
        gap: 10px;
        margin-left: -13px;
    }
    .filter-panel-inner-div{
        display: flex;
        width: 100%;
        justify-content: start;
        overflow: hidden;
        gap: 0px;
    }
    .price-range-div{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .price .price-range-div input {
        width: 60%;
        margin-top: 10px;
    }
    
    .price .price-range-div span {
        margin-top: 10px;
        font-size: 12px; 
    }

}
